header{
    background-color: #D9D9D9;
}
header p{
    float: right;
    margin-right: 5px;
}
header img{
width: 200px;
height: 150px;
margin: 10px;
}
nav{display: flex;
justify-content: space-around;}

nav a{ background-color: #EEECEC;
    border-radius: 20px;
    padding: 10px;
color: black;
    text-decoration: none;
    margin-right: 57px;
    margin-bottom: 10px;
}
   
h1{
   color: black;
    position: absolute;
    left:40.5%;
    z-index: 1;
    font-size: 40px;
}
.i1{float: right;

width: 400px;
height: 350px;

}
.i2{ float: left;

  width: 350px;
  height: 300;  
}
.i3{position: absolute;
width: 500px;
height: 300px;
top: 80px;
left: 25%;


}
.block{position: relative;}
main p{
    position: relative;
    top: 325px;
    right: 350px;
    font-size: 25px;
}
.im{
    position: relative;
    top: 80px;
    left: 80px;
    width:600px ;
    height:500px ;
}
.im2{
    position: relative;
    bottom: 250px;
    width: 400px;
    height: 300px;
}
h2{position: relative;
 bottom: 230px;   
    font-size: 50px;
}
.ykp{
    position: relative;
    bottom:350px ;
    left: 230px;
    width:700px ;
    height:150px ;
}
.b{
  position: relative;  
  bottom: 350px;
  width: 400px;
  height: 550px;
}
.text{
    position:absolute; 
    top: 1495px;
    left: 190px;
}
.kolektiv{
    width: 300px;
position: absolute;
left: 600px;
top: 1380px;
}
.menu{
    position: absolute;
    top: 1950px;
}
details{position: relative;
bottom: 200px;
    border: #EEECEC solid 5px;
      border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
details:hover{
   background-color: #EEECEC;
  
}
.menu1{
     width: 170px;
}
.menu2{
 width: 170px;
 transform: translate(180px,-159px);
}
.menu3{
width: 170px;
transform: translate(360px,-318px);
}
.menu4{
width: 170px;
transform: translate(540px,-478px);
}
details img{
position: relative;
left: 130px;
bottom: 100px;
}
.ak{
     position: absolute;
    top: 2200px;
}
.AKUII{
    position: absolute;
    top: 2250px;
}
.imak{
    position: absolute;
top: 2270px;
left: 770px;
  width: 300px;
}
